* {
  margin: 0;
  padding: 0;
}
/* #navBar:hover {
  background-color: crimson;
} */
.bigLogo {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
}
/* nav bar white */
.bigLogo .logo {
  width: 20%;
  height: 100%;
}
.bigLogo .logo img {
  width: 100%;
  height: 100%;
}
.bigLogo .linksAll {
  width: 80%;
}
.bigLogo .linksAll .conttainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.bigLogo .linksAll form {
  display: flex;
}
.bigLogo .linksAll form button {
  border-radius: 5px;
  background-color: crimson;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 20px;
}
.bigLogo .linksAll form button:hover {
  background-color: lightgray;
  cursor: pointer;
}
.bigLogo .linksAll .links ul {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}
.bigLogo .linksAll .links ul li a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  font-size: 25px;
}
.bigLogo .linksAll .links ul li a:hover {
  color: crimson;
}
.section_1 {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.section_1 .vid {
  height: 100%;
  position: fixed;
  z-index: -100;
  width: 100%;
}
.section_1 .vid video {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.section_1 nav {
  /* width: 80%; */
  /* margin: auto; */
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 45px;
}
.section_1 nav .link1 {
  display: flex;
}
.section_1 nav .link1 li {
  list-style-type: none;
}
.section_1 nav .link1 li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
.section_1 nav .link1 li a:hover,
.section_1 nav .link2 li a:hover {
  color: lightgray;
}
.section_1 nav .link2 {
  display: flex;
}
.section_1 nav .link2 li {
  list-style-type: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}
.section_1 nav .link2 li:hover {
  color: lightgray;
  cursor: pointer;
}
.hearInfo {
  width: 80%;
  margin: auto;
  display: flex;
  color: white;
  justify-content: flex-end;
}
.hearInfo p {
  font-size: 25px;
  margin-right: 20px;
}
.hearInfo .MainrS i {
  color: white;
}

/* section 2 recherch */
.recherch {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recherch #button {
  width: 300px;
  height: 50px;
  border: none;
  /* border-radius: 5px; */
}
.recherch #inputText {
  width: 400px;
  height: 50px;
  border: none;
  /* border-radius: 5px; */
}
.recherch .divrech {
  width: 33%;
  margin: auto;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  display: flex;
  background-color: lightgray;
  opacity: 50%;
}
.recherch .divrech .icon {
  margin: 10px 10px 0 10px;
}
.recherch .divrech .icon i {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.recherch .divrech .icon i:hover {
  color: brown;
}
.recherch .divrech input {
  width: 80%;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
}
/* header text main */
#HeaderTitle {
  width: 80%;
  margin: auto;
  height: 300px;
  background-color: white;
  margin-top: 100px;
  /* margin-bottom: 100px; */
  opacity: 80%;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}
#HeaderTitle h1 {
  color: red;
  font-size: 50px;
  margin-top: 30px;
}
#HeaderTitle p {
  color: black;
  color: black;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
}
/* section 2 */
.section_2 {
  width: 100%;
  height: 500px;
  /* background-color: white; */
  margin-top: 300px;
}
.section_2 #art1 h3,
.section_2 #art1 p,
.section_2 #art1 a {
  position: relative;
  top: -100px;
  text-align: center;
  width: 70%;
}
.section_2 #art2 h3,
.section_2 #art2 p,
.section_2 #art2 a {
  position: relative;
  top: -100px;
  text-align: center;
  width: 70%;
}
.section_2 #art3 h3,
.section_2 #art3 p,
.section_2 #art3 a {
  position: relative;
  text-align: center;
  width: 70%;

  top: -100px;
}
.section_2 #squareImg {
  width: 100%;
  height: 240px;
  /* border-radius: 50%; */
}
.section_2 .contArticle {
  background-color: white;
  opacity: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.section_2 .contArticle .img {
  position: relative;
  top: -36%;
  width: 100%;
}
.section_2 #art1:hover {
  opacity: 100%;
}
.section_2 #art2:hover {
  opacity: 100%;
}
.section_2 #art3:hover {
  opacity: 100%;
}
/* login style */
#sectionLogin {
  height: 400px;
  opacity: 50%;
}
.cont {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont input,
.cont a {
  width: 80%;
  margin: auto;
  height: 34px;
  margin-top: 30px;
}
.cont .inputText {
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.cont .inputText #buttonAll {
  background-color: crimson;
}
.cont .inputText .img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -20%;
}
.cont .inputText .img img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}
.cont .sos {
  width: 30%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
/* inscription style */
#inscriptionPage1 {
  height: 430px;
}

.continscription {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: auto;
  /* margin-top: 100px; */
  height: 100%;
  background-color: white;
  opacity: 50%;
}
/* rows style */
.continscription {
  overflow: hidden;
}
.continscription #mainRow {
  width: 80%;
  margin: auto;
  margin-top: 60px;
}
.continscription #mainRow .row #inputText {
  width: 80%;
  height: 35px;
  border: none;
  border-bottom: 3px solid;
  margin-bottom: 30px;
}
.continscription #mainRow .row #submit {
  width: 80%;
  height: 35px;
  border: none;
  background-color: crimson;
}

/* domand style */
.contD_Page {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: auto;
  height: 500px;
  background-color: white;
  opacity: 70%;
  overflow: hidden;
}
.contD_Page .rowMain {
  margin-top: 40px;
}
.contD_Page h3 {
  margin-left: 50px;
}
.contD_Page input {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 30px;
}
.contD_Page #button {
  background-color: brown;
}
/* contact us style */
#centactUS {
  width: 80%;
  margin: auto;
  height: 650px;
  background-color: white;
  overflow: hidden;
  opacity: 50%;
}
#centactUS:hover {
  opacity: 100%;
}
#centactUS .contact {
  overflow: hidden;
}
#centactUS .contact h2 {
  margin-left: 50px;
  margin-top: 50px;
}
#centactUS .contact .Email_User {
  margin-left: 50px;
  margin-top: 30px;
}
#centactUS .contact .Email_User input {
  width: 45%;
  height: 40px;
  border: none;
  border-bottom: 2px solid;
}
#centactUS .contact .objet {
  margin-left: 50px;
  margin-top: 30px;
}
#centactUS .contact .objet input {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: 2px solid;
}
#centactUS .contact .textEmil {
  margin-left: 50px;
  margin-top: 30px;
}
#centactUS .contact .textEmil textarea {
  width: 90%;
}
#centactUS .contact .submitButton {
  margin-left: 50px;
  margin-top: 30px;
}
#centactUS .contact .submitButton input {
  width: 90%;
  background-color: crimson;
  border: none;
  height: 40px;
  color: white;
  font-size: 25px;
}
#centactUS .contact .submitButton input:hover {
  background-color: rgb(197, 122, 137);
  color: black;
}
/* map style */
#map {
  width: 80%;
  margin: auto;
  height: 600px;
  margin-top: 50px;
  background-color: white;
  overflow: hidden;
  opacity: 50%;
}
#map:hover {
  opacity: 100%;
}
#map .mapAll {
  width: 100%;
  height: 500px;
  display: flex;
}
#map .mapAll .mapPlace {
  width: 60%;
  height: 100%;
}
#map .mapAll .mapPlace h3 {
  margin-top: 30px;
  margin-left: 30px;
}
#map .mapAll .mapPlace iframe {
  margin-top: 30px;
  margin-left: 30px;
}
#map .mapAll .info {
  width: 40%;
}
#map .mapAll .info h3 {
  margin-top: 30px;
  /* margin-left: 30px; */
}

#map .mapAll .info select {
  width: 70%;
}
/* footer */
footer {
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  overflow: hidden;
}
footer .rech {
  width: 70%;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
footer .rech .logo {
  margin-right: 10px;
}
footer .links {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  height: 250px;
}
footer .links .link_g_1 {
  display: flex;
  flex-direction: column;
}
footer .links .link_g_2 {
  display: flex;
  flex-direction: column;
}
footer .links .link_g_3 {
  display: flex;
  flex-direction: column;
}
footer .links .link_g_4 {
  display: flex;
  flex-direction: column;
}
footer .links .link_g_1 a,
footer .links .link_g_2 a,
footer .links .link_g_3 a,
footer .links .link_g_4 a{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
footer .links .link_g_1 a:hover,
footer .links .link_g_2 a:hover,
footer .links .link_g_3 a:hover,
footer .links .link_g_4 a:hover{
  color: crimson;
}
footer .footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
}
footer .footer p{
  font-size: 25px;
text-align: center;
}
/* footer .footer .SousY{
  width: 80%;
  margin: auto;
} */
#sign1 {
  margin-left: 20px;
}
.navbar-light .navbar-brand {
  color: white;
}
/* select list style */

.optionbox select{
  height: 34px;
padding-left: 20px;
/* border: none; */
/* border-bottom:2px solid ; */
}


@media only screen and (max-width: 600px) {
  .vid {
    display: none;
  }
  .section_1 {
    height: 400px;
  }
  .section_1 nav {
    flex-direction: column;
    background-color: #fb6767;
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .section_1 nav .link1 li a {
    color: black;
  }
  .section_1 nav .link2 li {
    color: black;
  }
  /* recherch */
  .section_1 .recherch {
    height: 150px;
  }
  .section_1 .recherch .divrech {
    margin: 0;
    width: 80%;
  }
  /* section 2  */
  .section_2 {
    margin: 0;
    height: auto;
    margin-top: 100px;
  }
  .section_2 .contArticle {
    background-color: rgb(104, 102, 102);
    opacity: 100%;
    color: white;
    margin-top: 100px;
  }
  /* contact us */
  /* login  */
  /* login style */
  #sectionLogin {
    opacity: 100%;
    height: 500px;
  }
  .cont {
    width: 100%;
    height: 100%;
  }
  .cont .inputText #buttonAll {
    border: none;
  }
  .cont .sos {
    width: 80%;
  }
  /* inscription style */
  #inscriptionPage1 {
    height: 750px;
    /* position: relative;
    top: -150px; */
  }

  .continscription {
    width: 100%;
    opacity: 100%;
  }

  .continscription #mainRow {
    margin-top: 0px;
  }
  .continscription #mainRow .row #submit {
    margin-top: 10px;
  }
  /* map style */
  #map {
    width: 100%;
    margin-top: 0;
    opacity: initial;
    height: 700px;
  }
  #map .mapAll {
    display: initial;
  }
  #map .mapAll .mapPlace {
    width: 100%;
    height: auto;
  }
  #map .mapAll .mapPlace iframe {
    margin: 0;
    width: 100%;
  }
  #map .mapAll .info {
    width: 100%;
    overflow: hidden;
  }
  /* nav bar white */
  .bigLogo {
    height: 500px;
    display: initial;
  }
  .bigLogo .logo {
    /* width: 100%; */
    display: none;
  }
  .bigLogo .logo img {
    width: 80%;
    margin: auto;
  }
  /* .bigLogo .linksAll {
  }
  .bigLogo .linksAll .conttainer {
  }
  .bigLogo .linksAll form {
  }
  .bigLogo .linksAll form button {
  }
  .bigLogo .linksAll form button:hover {
  }
  .bigLogo .linksAll .links {
  }
  .bigLogo .linksAll .links ul {
  }
  .bigLogo .linksAll .links ul li {
  }
  .bigLogo .linksAll .links ul li a {
  }
  .bigLogo .linksAll .links ul li a:hover {
  } */

  /* footer */
  footer {
    margin: 0;
    background-color: #dcdad5;
    height: auto;
  }
  footer .links{
    flex-direction: column;
    height: auto;
  }
  footer .inRech {
    width: 70%;
  }
  footer .links {
    flex-direction: column;
  }
  footer .links .link_g_1 {
    align-items: center;
  }
  footer .links .link_g_2 {
    align-items: center;
  }
  footer .links .link_g_3 {
    align-items: center;
  }
  footer .links .link_g_4{
    text-align: center;
  }
  /* contact us style */
  #centactUS {
    width: 100%;
    opacity: initial;
    margin: 0%;
    height: 700px;
  }
  /* #centactUS:hover {
  }
  #centactUS .contact {
  }
  #centactUS .contact h2 {
  } */
  #centactUS .contact .Email_User {
    display: flex;
    flex-direction: column;
  }
  #centactUS .contact .Email_User input {
    width: 90%;
    margin-top: 30px;
  }
  /* #centactUS .contact .objet {
  }
  #centactUS .contact .objet input {
  }
  #centactUS .contact .textEmil {
  }
  #centactUS .contact .textEmil textarea {
  }
  #centactUS .contact .submitButton {
  }
  #centactUS .contact .submitButton input {
  }
  #centactUS .contact .submitButton input:hover {
  } */
  /* demand page */
  .contD_Page {
    height: 700px;
  }
}
